body {
	background: #000;
	color: white;
    font: 14px/16px Menlo, "DejaVu Sans Mono", Monaco, monospace;
    margin: 0;
}

#game {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

canvas {
    position: absolute;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

svg {
    z-index: 1;
    position: relative;
}

svg polygon {
    fill: transparent;
}

svg polygon:hover {
    fill: white;
}

#side {
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.ui-box {
    margin: 7px;
    border: 1px solid white;
    padding: 4px;
}

#status div {
    padding: 2px 2px 3px;
    background-size: 100% 4px;
    background-repeat: no-repeat;
    background-position: bottom;
}

#enemy-statuses {
    position: absolute;
    bottom: 0;
}

#enemy-statuses span {
    line-height: 24px;
}

#side canvas {
    position: static;
}

.life {
    background-image: linear-gradient(to right, #A00 100%, #000 100%);
}

.initiative {
    background-image: linear-gradient(to right, #880 50%, #000 50%);
}

#status div::before {
    content: attr(class);
    text-transform: capitalize;
}

#status div::after {
    content: attr(data-value);
    float: right;
}
